﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 6</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Quiz</h1>
            <section id="number_questions">
                <p>¿Cuántas preguntas desea responder (indique un número del 5 al 20)?</p>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="textfield" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="button" id="btn_question" class="btn btn-primary" onclick="create_inputs()">Empezar quiz</button>
                    </div>
                </div>

            </section>
            <section>
                <div class="col-xs-2">
                    <ul id="question_list">
                    </ul>
                </div>
            </section>
            <section>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="button" id="btn_check" class="btn btn-primary" onclick="check()">Revisar</button>
                        <button type="button" id="btn_solve" class="btn btn-primary" onclick="solve()">Resolver</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>

        var questions = [
            '2 - 7 + 4 x 8',
            '4 / 2 x 8 + 4',
            '6 * 6 / 2 + 6',
            '2 + 2 - 1 * 4',
            '8 * 2 + 4',
            '5 - 9 + 2 x 2',
            '9 / 3 x 8 + 4',
            '3 * 2 / 2 + 5',
            '4 + 6 - 2 * 7',
            '8 * 4 + 9',
            '2 - 7 + 4 x 8',
            '8 / 2 x 3 + 4',
            '6 * 6 / 2 + 6',
            '2 + 4 - 1 * 4',
            '8 * 2 + 4',
            '2 - 5 + 4 x 8',
            '2 x 8 + 4',
            '6 * 6 / 2 + 6',
            '2 + 2 - 1 * 4',
            '8 * 9 + 8',
        ];

        var answers = [
            '27',
            '20',
            '24',
            '0',
            '20',
            '0',
            '28',
            '8',
            '-4',
            '41',
            '27',
            '16',
            '24',
            '2',
            '20',
            '29',
            '20',
            '24',
            '0',
            '80',
        ];

        function solve() {
            var items = document.getElementsByClassName("item");
            for (i = 0; i < items.length; i++) {
                var inputs = items[i].getElementsByClassName('form-control');
                inputs[0].style.color = "#0000ff";
                inputs[0].value = answers[i];
            }
        };

        function check() {
            var items = document.getElementsByClassName("item");
            for (i = 0; i < items.length; i++) {
                var inputs = items[i].getElementsByClassName('form-control');

                var answer_given = inputs[0].value;

                if (answer_given == "") {
                    inputs[0].style.color = "#ff0000";
                    inputs[0].value = "Sin contestar."
                } else {
                    if (answer_given == answers[i]) {
                        inputs[0].style.color = "#33cc33";
                    } else {
                        inputs[0].style.color = "#ff0000";
                    }
                }

            }
        };

        function create_inputs() {

            section = document.getElementById('question_list');
            section.innerHTML = "";

            cant_questions = Math.max(5, Math.min(20, document.getElementById('textfield').value));
            for (let i = 0; i < cant_questions; i++) {

                let li = document.createElement("li");
                li.className = "item";

                let label = document.createElement("label");
                label.textContent = questions[i];
                let textfield = document.createElement("input");
                textfield.type = "text";
                textfield.value = "";
                textfield.className = "form-control";

                li.appendChild(label);
                li.appendChild(textfield);
                section.appendChild(li);
            }
        };
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
